.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  margin-top: 100px;
  background-color: #c2d6d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: w#c2d6d6;
}

.App-link {
  color: #09d3ac;
}
